# 嵌套词典
字典可以包含字典，这称为嵌套 字典。

In [1]:
myclass = {
    "stu1":{
        "name":"Nick",
        "age":"man"
    },
    "stu2":{
        "name":"EVE",
        "age":"man"
    },
     "stu3":{
        "name":"kim",
        "age":"man"
    }
}

或者，如果要将三个字典添加到新的 字典：

In [2]:
stu1 = {
    "name":"Nick",
    "age":"man"
}

stu2 = {
    "name":"EVE",
    "age":"man"
}

stu3 = {
    "name":"kim",
    "age":"man"
}

myclass = {
    "stu1":stu1,
    "stu2":stu2,
    "stu3":stu3

}

myclass

{'stu1': {'name': 'Nick', 'age': 'man'},
 'stu2': {'name': 'EVE', 'age': 'man'},
 'stu3': {'name': 'kim', 'age': 'man'}}

# 访问嵌套词典中的项目
要访问嵌套字典中的项目，请使用字典的名称，从 外字典：

In [3]:
print(myclass["stu2"]["name"])

EVE

In [4]:
myclass.items()

dict_items([('stu1', {'name': 'Nick', 'age': 'man'}), ('stu2', {'name': 'EVE', 'age': 'man'}), ('stu3', {'name': 'kim', 'age': 'man'})])

In [5]:
for x in myclass.items():
    print(x)

('stu1', {'name': 'Nick', 'age': 'man'})
('stu2', {'name': 'EVE', 'age': 'man'})
('stu3', {'name': 'kim', 'age': 'man'})

In [6]:
for x,y in myclass.items():
    print(x,y)

stu1 {'name': 'Nick', 'age': 'man'}
stu2 {'name': 'EVE', 'age': 'man'}
stu3 {'name': 'kim', 'age': 'man'}

In [ ]:
for x,obj in myclass.items():
    print(f"学生：{x}") #stu
    print(f"{obj}")    #{'name': 'Nick', 'age': 'man'}
    print("  ")


    for y in obj:
        print(f"{y}:") #就是{}里的key
        print(obj[y])  #这里是值
        print(" ")

学生：stu1
{'name': 'Nick', 'age': 'man'}

name:
Nick

age:
man

学生：stu2
{'name': 'EVE', 'age': 'man'}

name:
EVE

age:
man

学生：stu3
{'name': 'kim', 'age': 'man'}

name:
kim

age:
man

In [14]:
for x,obj in myclass.items():
    print(f"学生：{x}")

    for y in obj:
        print(f"     {y}：{obj[y]}")

学生：stu1
     name：Nick
     age：man
学生：stu2
     name：EVE
     age：man
学生：stu3
     name：kim
     age：man

In [7]:
for x, obj in myclass.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

stu1
name: Nick
age: man
stu2
name: EVE
age: man
stu3
name: kim
age: man

# 字典的方法
https://www.w3schools.com/python/python_dictionaries_methods.asp