# set 内置方法：
 https://www.w3schools.com/python/python_sets_methods.asp

# 连接集
在 Python 中连接两个或多个集合有多种方法。

和方法连接两个集合中的所有项目。union()  update()

该方法仅保留重复项。intersection()

该方法保留项目 来自不在其他集合中的第一组。difference()

该方法保留所有 项目除外重复项。symmetric_difference()

## union() 
该方法返回一个新集合，其中包含两个集合中的所有项目。

In [ ]:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = set1.union(set2)

set3

{1, 2, 3, 'a', 'b', 'c'}

可以使用运算符代替方法，您将得到相同的结果。|

In [8]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2

set3

{1, 2, 3, 'a', 'b', 'c'}

### 联接多个集合
所有连接方法和运算符都可用于连接多个集合。

使用方法时，只需在括号中添加更多集合，用逗号分隔：

In [6]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2,set3,set4)
myset

{1, 2, 3, 'Elena', 'John', 'a', 'apple', 'b', 'bananas', 'c', 'cherry'}

使用运算符时，将集合分开 使用更多运算符：|  |

In [9]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'b', 1, 2, 3, 'bananas', 'John', 'c', 'apple', 'cherry', 'a', 'Elena'}

## update()
该方法将一个集合中的所有项目插入到另一个集合中。update()

更改原始集，并且不返回新集。update()

注意：两者都将排除任何重复的项目。union()  update()

In [19]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)

set1

{1, 2, 3, 'a', 'b', 'c'}

## intersection()

仅保留重复项

该方法将返回一个新集合，该集合仅包含两个集合中都存在的项。intersection()

In [21]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)

set3

{'apple'}

可以使用运算符代替方法，您将得到相同的结果。& intersection()

In [22]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

## difference()
该方法将 返回一个新集合，该集合将仅包含第一个集合中另一个集合中不存在的项。

In [24]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

set3

{'banana', 'cherry'}

## difference_update()
该方法还将保留 第一个集合中不在另一个集合中的项目， 但它会更改原始集合而不是返回新集合。

In [28]:
set1 = {"apple", "banana", "cherry","666","999"}
set2 = {"google", "microsoft", "apple","666"}

set1.difference_update(set2)
set1

{'999', 'banana', 'cherry'}

## 对称差异
该方法将仅保留两个集合中不存在的元素。symmetric_difference()

In [33]:
set1 = {"apple", "banana", "cherry","666","999"}
set2 = {"google", "microsoft", "apple","666"}
set3 = set1.symmetric_difference(set2)
set3

{'999', 'banana', 'cherry', 'google', 'microsoft'}